<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Workshop</th>
    <th>PreRequisites</th>
    <th>Etherpad</th>
  </tr>
  <tr>
    <td>September 15th</td>
    <td><a href = "https://carpentries-incubator.github.io/Data-Science-for-Docs/">Data Science for Clinicians and Docs</a></td>
    <td>NA</td>
    <td><a href = "https://pad.carpentries.org/2021-09-15-uwmadison-docs">Etherpad</a></td>
  </tr>
  <tr>
    <td>September 29-30th</td>
    <td><a href = "https://carpentries-incubator.github.io/docker-introduction/">Intro to Docker</a></td>
    <td>For this workshop, you need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a></td>
    <td><a href = "https://pad.carpentries.org/2021-09-29-uwmadison-docker">Etherpad</a></td>
  </tr>
  <tr>
    <td>October 27th</td>
    <td><a href = "https://uw-madison-datascience.github.io/git-novice-custom/">Git/Github</a></td>
    <td>For this workshop, you need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a></td>
    <td><a href = "https://pad.carpentries.org/2020-10-14-uwmadison-git">Etherpad</a></td>
  </tr>
  <tr>
    <td>November 10-11th</td>
    <td><a href = "https://carpentries-incubator.github.io/machine-learning-novice-sklearn/">Intro to Machine Learning with sklearn</a></td>
    <td>For this workshop, you need to have a base familiarity with python</td>
    <td><a href = "https://pad.carpentries.org/2021-11-10-uwmadison-ml">Etherpad</a></td>
  </tr>
  <tr>
    <td>December 8th</td>
    <td><a href = "https://carpentries-incubator.github.io/python-interactive-data-visualizations/">Interactive Data Visualizations in Python</a></td>
    <td>For this workshop, you need to have a base familiarity with python, the unix shell, and github.</td>
    <td><a href = "https://pad.carpentries.org/2021-12-08-uwmadison-dv">Etherpad</a></td>
  </tr>
</table>



