<div class="row">
  <div class="col-md-6">
    <h3>Wednesday Feb 9th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>2:00 pm</td>  <td>Welcome and Introductions</td> </tr>
      <tr> <td>2:05 pm</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>2:10 pm</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>2:15 pm</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>2:25 pm</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>2:45 pm</td>  <td>Break</td> </tr>
      <tr> <td>2:50 pm</td>  <td>Exploring History</td> </tr>
      <tr> <td>3:15 pm</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>3:20 pm</td>  <td>Branches</td> </tr>
      <tr> <td>3:40 pm</td>  <td>Wrapping up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday Feb 10th</h3>
    <table class="table table-striped">
      <tr> <td>2:00 pm</td>  <td>Housekeeping</td> </tr>
      <tr> <td>2:15 pm</td>  <td>Conflicts</td> </tr>
      <tr> <td>2:30 pm</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>3:00 pm</td>  <td>Pull Requests</td> </tr>
      <tr> <td>3:45 pm</td>  <td>Wrap-up and introduce further work</td> </tr>
      <tr> <td>3:55 pm</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>4:00 pm</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
